.register-form {
  border-top-left-radius: 16px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 0;
}

input {
  border-color: #dde9e6;
}

form p {
  font-size: 16px;
}

.text-12 {
  font-size: 12px;
}
